.akmulla_img {
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    margin: 0 0 0 10px;
}

.uralbatyr_img {
    position: absolute;
    width: 350px;
    margin: 0 0 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    top: 365px;
}

.lit_content_div {
    margin: 10px 0 0 0;
    position: relative;
}

.lit_header {
    background-color: #003d0c;
    color: white;
    text-align: center;
    height: 37px;
    width: 865px;
    font-size: 30px;
    border-bottom: 5px solid #ff4f3d;
    border-radius: 10px;
    font-weight: bold;
}