.lit_article_content {
    width: 500px;
    height: 560px;
    border-radius: 10px;
    border: 1px solid black;
    display: inline-block;
}

.lit_article {
    width: 480px;
    font-weight: bold;
    margin: 0 0 0 10px;
    text-indent: 40px;
}